<ion-header>
  <ion-navbar>
    <ion-title>
      BAires Eventos
    </ion-title>
  </ion-navbar>
</ion-header>

<ion-content>
    <ion-card
      *ngFor="let time of eventsDate"
    >
      <ion-card-header
        color="primary"
      >
        {{ time | date: 'longDate' }}
      </ion-card-header>

      <ion-list>
        <button
          *ngFor="let event of events[time]"
          (click)="goToEventDetail(event)"
          ion-item
          text-wrap
        >
          <ion-icon
            [name]="categories[event.category_id]['icon']"
            *ngIf="event.category_id"
            item-start
          ></ion-icon>
          {{ event.name.text }}
          <ion-note
            item-end
          >
            {{ event.start.local | date: 'shortTime' }}
          </ion-note>
        </button>
      </ion-list>
    </ion-card>

    <ion-infinite-scroll
      (ionInfinite)="getMoreEvents($event)"
      [(enabled)]="hasMoreItems"
    >
      <ion-infinite-scroll-content></ion-infinite-scroll-content>
    </ion-infinite-scroll>

</ion-content>
