<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      BAires Eventos
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">BAires Eventos</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-list>
    <ion-item
      *ngFor="let event of events"
    >
      <ion-thumbnail
        *ngIf="event.logo"
        slot="start"
      >
        <ion-img
          [src]="event.logo.url"
        >
        </ion-img>
      </ion-thumbnail>
      <ion-label>
        {{ event.name }}
      </ion-label>
    </ion-item>
  </ion-list>

</ion-content>
